:root {
  --footer-height: 40px;
  --header-height: 50px;
  --bookend-padding: 5px;
}

html {
  line-height: 1.1;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(250, 241, 228);
  color: rgb(27, 27, 27);
  line-height: 1.6;
  padding: 0;
  font-size: 12pt;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: auto; /*  establishes a new block-formatting context 
    see https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Display/Block_formatting_context */
}

h1,
h2,
h3,
h4 {
  color: rgb(151, 95, 26);
}

body > header,
body > footer {
  line-height: 1.1rem;
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  background-color: rgb(233, 214, 192);
}

body > header {
  height: var(--header-height);
  line-height: calc(var(--header-height) - (2 * var(--bookend-padding)));
}

body > footer {
  height: var(--footer-height);
  line-height: calc(var(--footer-height) - (2 * var(--bookend-padding)));
}

body > header *,
body > footer * {
  margin: 0;
  padding: 0;
}

/*  ----might not need this for home page-----
ul {
  list-style-type: "• ";
  padding: 1em;
}
ol {
  padding: 1em;
}
----------------    */
nav {
  background-color: rgb(233, 214, 192);
}

nav ul {
  width: 100%;
  max-width: 1200px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  font-weight: bold;
}

nav li {
  display: flex;
  margin: 0 5px;
}

nav a {
  text-decoration: none;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border-radius: 0;
}

nav a:hover {
  color: black;
  background-color: rgb(255, 215, 167);
}

nav a.active {
  background-color: rgb(255, 237, 203);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(233, 214, 192, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.sidebar li,
.sidebar a {
  width: 100%;
}

.categories div,
.tags div {
  font-size: 0.8em;
  display: inline;
  width: 90vw;
}
.categories h3,
.tags h3 {
  display: inline;
  margin: 0px;
  padding: 5px;
}
.featRecipe {
  padding: 10px;

  background-color: floralwhite;
  border-radius: 20px;
}

.featRecipe p {
  text-align: justify;
}
.featRecipe figure {
  float: right;
  width: 50%;
  margin: 0;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(171, 228, 225);
}

.featRecipe figure figcaption,
.featRecipe figure img {
  float: right;
  width: 100%;
  clear: right;
  margin-top: 5px;
  font-style: italic;
  font-size: 0.8rem;
}

.featRecipe figcaption a,
.featRecipe p a {
  font-weight: bold;
  color: darkslategray;
  padding: 2px;
}

a {
  color: rgb(53, 27, 19);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
}

a:visited {
  color: rgb(58, 58, 58);
}
a:hover {
  color: rgb(150, 82, 0);
  background-color: rgb(255, 215, 167);
}

.menu-button{
  display: flex;
  font-size: 2rem;
  padding: 10px;
  margin: 0 5px;

}

.menu-x-button{
  display: block;
  font-size: 2rem;
  padding: 10px;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button{
    display: flex;
    padding: 10px;
    font-size: 2rem;
  }
}
@media(max-width: 400px) {
  .sidebar{
    width: 100%;
    align-items: center;
  }
  .sidebar li {
    text-align: center;
    margin: 0 auto;
  }
}