:root {
    --footer-height: 40px;
    --header-height: 50px;
    --bookend-padding: 5px;
}

html {
    line-height: 1.1;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    max-width: 800px;
    margin: auto; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(250, 241, 228);
    color: rgb(27, 27, 27); 

    line-height: 1.6;
    padding: 0;
    font-size: 12pt; 
 
}

main {
    margin: 0 10px;
    padding: 0;
}

h1, h2, h3 {
    color: rgb(151, 95, 26);
}

header,
footer {
    line-height: 1.1rem;
    text-align: center;
    font-size: .9rem;
    margin: 0;
    padding: 5px 0;
    background-color: rgb(233, 214, 192);
}

header{
    height: var(--header-height);
    line-height: calc(var(--header-height) - (2 * var(--bookend-padding)));
}

footer{
    height: var(--footer-height);
    line-height: calc(var(--footer-height) - (2 * var(--bookend-padding)));    
}

header *, footer * {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

nav ul li a:hover {
    color: black;
    background-color: rgb(255, 215, 167);
}

nav ul li a.active {
    background-color: rgb(255, 237, 203);
}




a {
    color: rgb(53, 27, 19);
    text-decoration: none;
    padding: 10px 15px;
}

a:visited {
    color: rgb(58, 58, 58);
}
a:hover {
    color: rgb(150, 82, 0);
    background-color: rgb(255, 215, 167);
}






