article {
  text-align: justify;
}

article > header,
article > footer {
  font-size: 0.9em;
}
dl,
article > footer dl {
  text-align: left;
  display: inline-block;
}
dt,
article > footer dt {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  min-width: 80px;
  text-align: right;
}

article > footer dt::after {
  content: ": ";
}
dd,
article > footer dd {
  display: inline;
  margin-left: 0.1rem;
}
article > footer dd a,
article > footer dd a:hover {
  padding: 0;
}
dd::after,
article > footer dd::after {
  content: "";
  display: block;
}
article ul {
  list-style-type: circle;

}
article ol {
  padding: 1em;
}

time {
  font-weight: bold;
}

article > aside {
  background-color: floralwhite;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
}

aside ul {

}

article details summary {
  cursor: pointer;
  color: rgb(151, 95, 26);
  padding: 5px;
}

article details summary::marker {
  content: "\f103  "; /* Unicode for fa- arrow down to expand */
  font-family: "Font Awesome 5 Free";
  font-weight: 900; /* Solid icons require 900 */
}
article details[open] summary::marker {
  content: "\f102  "; /* Unicode for fa- arrow up to hide */
  font-family: "Font Awesome 5 Free";
  font-weight: 900; /* Solid icons require 900 */
}
article details summary h3 {
    display: inline;
    padding: 10px;

}

figure {
  float: right;
  width: 70%;
  margin: 0;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(171, 228, 225);
}

figure figcaption,
figure img {
  text-align: center;
  width: 100%;
  clear: right;
  margin-top: 5px;
  font-style: italic;
  font-size: 0.8rem;
}

figcaption a,
p a {
  font-weight: bold;
  color: darkslategray;
  padding: 2px;
}

#notes li::marker,
#rating li::marker,
#links li::marker {
  content: "";
}

#links li a {
  color: rgb(151, 95, 26);
  padding: 1px;
}
#links li span {
  font-size: 0.8rem;
}
#tags li::marker {
  content: "";
  font-weight: bold;
  font-size: 1.2em;
}

#ingredients,
#instructions {
  clear: both;
}
#instructions ol {
    margin: 0;
    padding-right: 5px;
}
#instructions li {
    padding-left: 10px;
    margin-top: 10px;
}
#instructions li::marker {
  content: "\f111 "; /* Unicode for fa- open square -  \f14a for checkmark in square - f111 circle f058 checked circle */
  font-family: "Font Awesome 5 Free";
  font-weight: 400; /* 900 for Solid  */
}

/* this is not correct - might use something like this to make interactive checklist */
#instructions li::checkmark {
  content: "\f14a   "; /* Unicode for fa-minus */
  font-family: "Font Awesome 5 Free";
  font-weight: 400; /* Solid icons require 900 ie, class=fas */
}

#ingredients dt {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  min-width: 80px;
  text-align: right;
}
